input {
    border-radius: 15px;
    padding: 2px;
}
body {
    background-color: #fc69ab;
    color: #000000;
    margin-left: 50px;
    margin-top: 70px;
    margin-right: 50px;
}
/* Estilos para el botón de submit */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none; 
    border-radius: 5px;
    text-align: center;
    text-decoration: none; 
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="reset"] {
    background-color: #f44336;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none; 
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
}

input[type="reset"]:hover {
    background-color: #d32f2f;
}
